footer {
    background-color: #333;
    color: white;
    padding: 60px 0 20px;
    font-family: var(--font-main);
    border-top: 2px solid #f1b1ad;

    h1{
        color: var(--primary-color);
        text-align: center;
    }
}

footer i{
    color: var(--primary-color);
}

.footer-list{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.brands i{
    font-size: 32px;
    color: #f1b1ad;
}

.brands i:hover{
    cursor: pointer;
    color: var(--accent-color);
}