.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.61)), url(../images/tricotando.jpg);
    background-size: cover;
    position: relative;
    padding: 60px 30px 10px;
    text-align: center;
    padding-top: 180px;
}


.hero-container {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

.hero-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.2;
    font-family: var(--font-main);
    color: white;
}

.hero-container p {
    font-family: var(--font-main);
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 30px;
    line-height: 1.6;
}
